body {
  background-color: #eef2f6;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  color: #2b3e51;
}

h2 {
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  color: #707174;
}

a,
a:link,
a:visited,
a:active {
  color: #3ca9e2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
  color: #329dd5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.login-form-wrap {
  background-color: #f7f7f7;
  width: 70%;
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

.login-form {
  padding: 0 60px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 10px 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #3ca9e2;
}

.btn-login {
  border: none;
  display: block;
  color: white;
  font-family: 'Montserrat', sans-serif;
  background: #d91821;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 50%;
  padding: 20px;
  box-shadow: 4px 5px 4px 0px #023b3a;
}
.btn-login:hover {
  color: bisque;
  background: #6d6e72;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.avatar {
  height: 80px;
}

.avatar_base {
  width: 100px;
  
}
.avatar_dtm {
  max-width: 300px;
}

.header__logo {
  display: block;
  max-width: 300px
}

.bem_vindo {
  padding-bottom: 20px;
}

.errocancelar {
  color: #d91821;
  font-size: small;
  font-style: italic;
  padding-bottom: 10px;
}

.legenda_button{
  font-size: medium;
}

.sidebar {
  background-color: #6d6e72; /* Cinza */
  width: 200px; /* Largura do sidebar */
  height: calc(100% - 20px); /* Altura igual à altura do conteúdo menos 20px */
  position: fixed; /* Permanece fixo na tela */
  top: 100px; /* Alinhamento superior com espaço de 20px para o header */
  left: 0; /* Alinhamento à esquerda */
  padding: 20px; /* Espaçamento interno */
}
.tittle_sidebar{
  color: #ffffff;
  font-size: 23px;
}
/* Estilo para o conteúdo dentro do sidebar (opcional) */
.sidebar-content {
  color: #ffffff; /* Cor do texto */
}

/* Estilo para os links dentro do sidebar (opcional) */
.sidebar a {
  color: #666; /* Cor dos links */
  text-decoration: none; /* Remover sublinhado */
  display: block; /* Faz com que os links ocupem toda a largura do sidebar */
  margin-bottom: 10px; /* Espaçamento entre os links */
}

/* Estilo para os links ativos dentro do sidebar (opcional) */
.sidebar a.active {
  font-weight: bold; /* Texto em negrito */
}